* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html {
  /* font-size: 10px; */
  /*10 px/16 px = 0.625 = 62.5% = % of user's browser fontsize*/
  font-size: 62.5%;
  scroll-behavior: smooth;
}
body {
  /* background-color: #1a2115; */
  /* color: #b2bbab; */
  background-color: #0e100b;
  color: #b2bbab;
  font-family: "Stick No Bills", sans-serif;
  height: 100vh;
  /* bg pattern overlay */
  background-image: url(src/bghero50.webp);
  background-size: cover;
  background-blend-mode: color;
}
/* /////////////////////////////////////////// */
/* REPEATS */
.page-margin {
  padding: 9rem 34rem 2rem 34rem;
  position: relative;
}
.bottom-margin {
  margin-bottom: 4rem;
}
h1 {
  font-size: 2.8rem;
  letter-spacing: 0.2rem;
}
p {
  font-size: 1.6rem;
  line-height: 2.8rem;
  letter-spacing: 0.12rem;
  font-weight: 200;
}

/* /////////////////////////////////////////// */
/* 1section */
.intro {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

/* /////////////////////////////////////////// */
/* 2ndsection */
.projectAndPhoto {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.createdProjects {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 4rem;
  width: fit-content;
}

.link {
  font-size: 1.6rem;
  letter-spacing: 0.12rem;
  text-decoration: none;
  color: #96e26f;
  width: fit-content;
}

.link:hover {
  transform: scale(1.1);
  transition: all 0.3s ease-in-out;
  border-bottom: 2px dashed #96e26f;
}
.imgMe-box {
  width: 22rem;
  height: 22rem;
}
.imgMe {
  width: 100%;
  height: 100%;
}
/* /////////////////////////////////////////// */
/* 3rd section */
.hobbiesLinks {
  display: flex;
  flex-direction: column;
  gap: 4rem;
}
/* /////////////////////////////////////////// */
/* footer */
footer {
  margin-top: 8rem;
  border-top: 1px solid #2f342b;
  width: 100%;
  height: 5rem;
  /* background-color: #2f7a98; */
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.copy {
  font-size: 1.4rem;
}
#date {
  font-size: 1.8rem;
}
/* flags change lng */
.c-flags {
  display: flex;
  gap: 2rem;
}
#btn-lng {
  border: none;
  background-color: #1a2115;
  width: 2.4rem;
  height: 1.7rem;
  cursor: pointer;
}

.czflag,
.engflag {
  width: 100%;
  height: 100%;
}
/* /////////////////////////////////////////// */
/* QUERIES */

/* 1300 / 16  - Smaller Desktops*/
@media (max-width: 81em) {
  .page-margin {
    padding: 6rem 20rem 2rem 20rem;
  }
}

/* 800 / 16   - Smaller Desktops*/
@media (max-width: 50em) {
  .page-margin {
    padding: 8rem 6rem 2rem 6rem;
  }
}

/* /530 / 16 =93  - Phones */
@media (max-width: 33em) {
  .body {
    height: 100vh;
  }
  .page-margin {
    padding: 9rem 4rem 2rem 4rem;
  }
  h1 {
    font-size: 2rem;
  }
  p {
    font-size: 1.2rem;
  }
  .link {
    font-size: 1.4rem;
  }
  .copy {
    font-size: 0.8rem;
  }
  #date {
    font-size: 0.8rem;
  }
  .intro {
    gap: 1.8rem;
  }
  .createdProjects {
    gap: 2.4rem;
  }
  .imgMe-box {
    width: 12rem;
    height: 8rem;
  }

  .hobbiesLinks {
    gap: 1rem;
  }
  footer {
    margin-top: 4rem;
  }
}
